@import "font";

$black: #000000;
$white: #ffffff;
$red: #e22c26;
$blue: #00aaf0;
$brown: #383838;
$salat: #40b6c3;

html {
  min-height: 100%;
}

body{
  font-family: 'Pragmatica', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  outline: none;
}

.page-title{
  font-family: 'PragmaticaBold', sans-serif;
  font-size: 28px;
  color: $black;
}

.page-content{
  font-family: 'PragmaticaBold', sans-serif;
  font-size: 24px;
  color: $black;
}

/***** HEADER *****/
header.header-top {
  background-color: #383838;
  .top-menu{
    position: relative;
    padding-right: 0;
    padding-left: 0;
    .expand-menu{
      color: $white;
      &:hover {
        color: $white;
      }
    }
    .header-menu{
      position: absolute;
      top: 100%;
      left: 0;
      width: 18rem;
      display: none;
      z-index: 1050;
      background-color: $red;
      .dropdown-toggle::after{
        margin-top: 0.4rem;
        float: right;
      }
      .nav-item, .nav-link {
        color: $white;
        &:hover, &:active, &:focus {
          background-color: #383838;
        }
      }
      .dropdown-menu{
        position: relative!important;
        background-color: $red;
        border: none;
        width: 100%;
        z-index: 1050;
        transform: translate3d(0px, 0px, 0px)!important;
        .dropdown-item {
          color: $white;
          &:hover, &:active, &:focus {
            background-color: #383838;
          }
        }
      }
    }
  }
  .top-contact{
    min-height: 100%;
    .top-contact-inner {
      min-height: 100%;
      i {
        color: $black;
      }
      span {
        color: $white;
      }
    }

  }
  .top-schedule{
    padding-left: 0;
    padding-right: 0;
    min-height: 100%;
    .top-schedule-inner {
      min-height: 100%;
      p{
        margin-bottom: .5rem;
        i{
          color: $black;
        }
        span{
          color: $white;
        }
      }
    }

  }
  .top-social {
    min-height: 100%;
    .top-social-inner{
      min-height: 100%;
      p{
        margin-bottom: .5rem;
        &:first-child{
          img {
            background-color: $blue;
          }
        }
        a{
          img{
            margin-left: 5px;
          }
        }
      }
    }
  }
}

main {
  flex: 1;
}

/**** MAIN ******/

.breadcrumbs-block{
  .breadcrumb{
    background-color: transparent;
    .breadcrumb-item{
      a{
        color: #6c757d;
      }
    }
  }
}

.result {
  background-color: #383838;
  color: $white;
  font-size: 16px;
  min-height: 100px;
  word-break: break-all;
  .container{
    .row{
      min-height: 100px;
    }
  }
}

.video {
  font-size: 14px;
}

.schedule{
  min-height: 270px;
  .container{
    .row{
      min-height: 270px;
      .col-md-4{
        .schedule-h{
          font-family: 'PragmaticaBold', sans-serif;
          font-size: 28px;
        }
        button{
          display: block;
          width: 60%;
          margin: 1rem auto 2rem;
          background-color: $red;
          color: $white;
          padding-top: .5rem;
          padding-bottom: .5rem;
        }
      }
    }
  }
}

.progress-block{
  background-color: $brown;
  color: $white;
  font-size: 14px;
  h3{
    font-family: 'PragmaticaBold', sans-serif;
    font-size: 28px;
  }
  .row{
    min-height: 150px;
    .col-md-4{
      .progress-number{
        font-family: 'PragmaticaBold', sans-serif;
        font-size: 52px;
        padding-right: 15px;
        margin-bottom: 2rem;
      }
      .progress-text {
        h4{
          font-family: 'PragmaticaBold', sans-serif;
          font-size: 20px;
        }
      }
    }
  }
}

.director{
  h1{
    color: $red;
    font-size: 32px;
    font-family: 'PragmaticaBold', sans-serif;
  }
  h3{
    font-size: 24px;
    font-family: 'PragmaticaBold', sans-serif;
  }
  .director-ul{
    list-style-image: url('../images/default/galka.png');
    li{
      font-size: 15px;
    }
  }
}

.events{
  h2{
    font-size: 28px;
    font-family: 'PragmaticaBold', sans-serif;
    color: $red;
  }
  button{
    width: 260px;
    background-color: $red;
    color: $white;
  }
  h6{
    color: $red;
  }
  a{
    color: $black;
  }
}

.services{
  .row{
    min-height: 175px;
    .col-md-2{
      background-color: $white;
    }
    .col-md-4{
      font-size: 32px;
      font-family: 'PragmaticaBold', sans-serif;
      color: $white;
    }
    &:first-child{
      background: url("../images/default/bg-top.png") no-repeat center center /cover;
      .fitness-course{
        background-color: $red;
      }
      .fitness-seminar{
        background-color: $brown;
      }
    }
    &:last-child{
      background: url("../images/default/bg-tdown.png") no-repeat center center /cover;
      .col-md-4:first-child{
        background-color: $brown;
      }
      .col-md-4:last-child{
        background-color: $red;
      }
    }
  }
}
.graduates{
  h2{
    font-family: 'PragmaticaBold', sans-serif;
    font-size: 26px;
    color: $red;
  }
  .brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}

.reviews{
  h2{
    font-family: 'PragmaticaBold', sans-serif;
    font-size: 32px;
    color: $red;
  }
}

.news{
  h2{
    font-family: 'PragmaticaBold', sans-serif;
    font-size: 32px;
    color: $red;
  }
  .row{
    .col-md-4{
      .news-name{
        font-size:  18px;
      }
      .news-date{
        font-family: 'PragmaticaBold', sans-serif;
        color: $red;
        font-size: 13px;
      }
      a{
        color: $black;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.faq-accordion{
  .card {
    border: none;
    .card-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: transparent;
      border-bottom: none;
      h2{
        .pre-img{
          background: url("../images/default/arrow_down.png") no-repeat center 3px;
          display: block;
          width: 32px;
          height: 32px;
        }
        .btn-link{
          color: $black;
        }
      }
    }
    .card-body{
      padding-left: 10%;
    }
    &:first-child .card-header h2 .pre-img{
      background: url("../images/default/arrow_top.png") no-repeat center 3px;
    }
  }
}

.faq-question{
  background-color: $red;
  color: $white;
  width: 260px;
  border-color: $red;
  &:hover{
    background-color: $red;
    border-color: $red;
  }
}

.course-block{
  .col-md-4{
    a{
      color: $black;
      text-decoration: underline;
    }
  }
}

/**** SIDEBAR ****/
.red-schedule{
  background-color: $red;
  width: 100%;
  margin: 0 auto;
}

.backcall{
  width: 100%;
  background-color: $salat;
  margin: 0 auto;
}

.aside-menu{
  background-color: $brown;
  width: 100%;
  .navbar{
    width: 100%;
    padding: 0.5rem 0;
    .navbar-collapse{
      width: 100%;

      .nav {
        padding: 0.5rem 0;
        width: 100%;

        .nav-item {
          width: 100%;

          .nav-link {
            color: $white;
          }

          &:hover, &:focus, &.active {
            background-color: $red;
          }

          .dropdown-menu {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            background-color: $brown;
            border: none;

            .dropdown-item {
              color: $white;
              width: 100%;
              word-break: break-word;
              white-space: normal;
              &:hover, &:focus, &:active, &.active {
                background-color: $red;
              }
            }
          }
        }
      }
      .dropdown-toggle::after{
        margin-top: 0.4rem;
        float: right;
      }
    }
  }
}

.aside-slider{
  .carousel-control-prev-icon{
    background-image: url("../images/default/left_arrow_black.png");
  }
  .carousel-control-next-icon{
    background-image: url("../images/default/right_arrow_black.png");
  }
}


/**** FOOTER *****/
footer.footer{
  min-height: 65px;
  background-color: #383838;
  color: $white;
  font-size: 14px;
  .container{
    min-height: 65px;
    .row{
      min-height: 65px;
      .copyright{
        min-height: 100%;
        .copyright-inner{
          min-height: 100%;
        }
      }
      .footer-address {
        min-height: 65px;
        .footer-address-inner {
          min-height: 65px;
          padding-right: 0;
          padding-left: 0;
          i{
            color: $black;
          }
        }
      }
      .footer-phone {
        min-height: 65px;
        .footer-phone-inner{
          min-height: 65px;
          i{
            color: $black;
            margin-right: 7px;
          }
        }
      }
      .footer-messenger{
        min-height: 65px;
        .footer-messenger-inner{
          min-height: 65px;
          a{
            margin-left: 5px;
            img{
              margin-top: 7px;
            }
          }
        }
      }
      .footer-social {
        min-height: 65px;
        .footer-social-inner {
          min-height: 65px;
          a{
            margin-left: 5px;
            img{
              margin-top: 7px;
              background-color: $blue;
            }
          }
        }
      }
    }
  }
}

/****** RESPONSIVE STYLES *****/
@media screen and(max-width: 1200px) {
  footer.footer .container .row .footer-address .footer-address-inner{
    text-align: center;
  }
  .director h1{
    font-size: 28px;
  }
  .director h3{
    font-size: 20px;
  }
  .director .director-ul li{
    font-size: 14px;
  }
  .services .row .col-md-4{
    font-size: 28px;
  }
}

@media screen and(max-width: 992px) {
  header.header-top .top-contact span, header.header-top .top-schedule{
    font-size: 12px;
  }
  footer.footer .container .row .copyright .copyright-inner, footer.footer .container .row .footer-phone .footer-phone-inner{
    font-size: 10px;
  }
  footer.footer .container .row .footer-address .footer-address-inner span{
    font-size: 10px;
    text-align: right;
  }
  footer.footer .container .row .footer-messenger .footer-messenger-inner a img, footer.footer .container .row .footer-social .footer-social-inner a img{
    max-width: 100%;
    height: auto;
  }
  .result .container .row .col-md-3{
    margin-bottom: 2rem;
  }
  .video{
    font-size: 10px;
  }
  .schedule .container .row .col-md-4 .schedule-h{
    font-size: 22px;
  }
  .progress-block{
    font-size: 10px;
  }
  .progress-block .row .col-md-4 .progress-text h4{
    font-size: 16px;
  }
  .director h1 {
    font-size: 24px;
  }
  .director h3 {
    font-size: 18px;
  }
  .director .director-ul li {
    font-size: 12px;
  }
  .services .row .col-md-4{
    font-size: 24px;
  }
  .news .row .col-md-4 .news-name {
    font-size: 14px;
  }
}

@media screen and(max-width: 768px) {
  header.header-top .top-menu, header.header-top .top-logo, header.header-top .top-schedule, header.header-top .top-contact, header.header-top .top-social{
    margin-bottom: 1rem;
  }
  header.header-top .top-menu .header-menu {
    width: 100%;
  }
  header.header-top .top-contact .top-contact-inner, header.header-top .top-schedule .top-schedule-inner, header.header-top .top-social .top-social-inner, footer.footer .container .row .footer-address .footer-address-inner, footer.footer .container .row .footer-social{
    width: 50%;
    margin: auto;
  }

  footer.footer .container .row .copyright .copyright-inner, footer.footer .container .row .footer-phone .footer-phone-inner{
    text-align: center;
  }
  .video{
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .video img{
    display: block;
    margin: 1rem auto;
  }
  .progress-block{
    font-size: 14px;
  }
  .progress-block .row .col-md-4 .progress-text h4{
    font-size: 18px;
  }
  .progress-block .container .row .col-md-4 .progress-text{
    width: 100%;
  }
  .director .director-ul li {
    font-size: 14px;
  }
  .services .row .col-md-2 img{
    display: block;
    margin: auto;
  }
  .graduates h2{
    font-size: 22px;
  }
  .news .col-md-4{
    text-align: center;
    margin-bottom: 3rem;
  }
  .left-sidebar{
    .aside-menu{
      .navbar.navbar-expand-lg {
        .navbar-toggler{
          width: 100%;
          position: relative;
          &::after{
            position: absolute;
            top: 30%;
            left: 45%;
            color: $white;
            content: 'МЕНЮ';
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 445px){
  header.header-top .top-contact .top-contact-inner, header.header-top .top-schedule .top-schedule-inner, header.header-top .top-social .top-social-inner, footer.footer .container .row .footer-address .footer-address-inner, footer.footer .container .row .footer-social {
    width: 80%;
    margin: auto;
  }
}